.container {
  width: 350px;
  margin: 0px auto;
}

h1 {
  font-size: 48px;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0px auto;
}

td {
  border: 3px solid black;
  padding: 5px;
  width: 90px;
  height: 105px;
  text-align: center;
}

tr:first-child > td {
  border-top: 0;
}

tr:last-child > td {
  border-bottom: 0;
}

td:first-child {
  border-left: 0;
}

td:last-child {
  border-right: 0;
}
